
*{
    background-color: black;
}
.head{
    color: white;
    text-align: center;
   
 
}
li,ul{
    margin: 2px;
    display: inline-block;
    color: grey;
}
li:hover{
    color:white;
    cursor:pointer;
}#food{
    background-color: white;
  height:430px;
  width: 1550px;
  text-align: center;

    

}
.box1{
    margin-top: 7px;
    margin-bottom: 5px;
   
    border-width:  2px;
    border-color: black;
   background-color: white;
    border-style: solid;
    width: 250px;
    
    display: inline-block;
}

.box2{
    border-width:  2px;
    border-color: black;
   background-color: white;
    border-style: solid;
    width: 250px;
    
    display: inline-block;
}

.box3{
    border-width:  2px;
    border-color: black;
   background-color: white;
    border-style: solid;
    width: 250px;
    
    display: inline-block;
}

.box4{
    border-width:  2px;
    border-color: black;
   background-color: white;
    border-style: solid;
    width: 250px;
    
    display: inline-block;
}

p{
    background-color: white;
    color: black;
    text-align: center;

}
h4{
  margin-top: 5px;
  color: white;
  width: 50px;
  padding:3px;
  text-align: center;
    display: inline;
  
}
h4:hover{
    background-color: red;
    color:black;
    cursor:pointer;
}
.contact{
    color:white;
    text-align: center;

}
input{
    background-color:white;

}

.input1 {
    background-color: yellow;
    padding: 5px;
    width: 500px;
}

